*{
    margin: 0;
    padding: 0;
}
html
{
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
h1{
    text-align: center;
    font-size: 45px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.322);
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 35px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.322);
    font-family: 'Roboto', sans-serif;
}
h3{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 20px;
}
.centro{
    display: flex;
    margin: 6%;
    padding: 2%;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px;
}
.caracteristicas{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.caracteristicas h2{
    background-color: rgb(148,187,233,1);
    border-radius: 40px;
}
.tipos{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.tipos h2{
    background-color: rgb(238,174,202,1);
    border-radius: 40px;
}